html(lang="RU-ru")
  head
    <meta charset="UTF-8">
    <!--IE-to-EDGE-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--Scale-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <!--SEO-->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Dmitry Kryshtopa">
    <!--favicon.ico-->
    
    <!-- build:css fonts/fonts.min.css -->
    <link rel="stylesheet" href="css/fonts/stylesheet.css">
    <!-- endbuild -->
    
    <!-- build:css css/main.min.css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- endbuild -->
    
    <!-- build:css css/vendor.min.css -->
    <link rel="stylesheet" href="css/">
    <!-- bower:css -->
    <link rel="stylesheet" href="bower/normalize-css/normalize.css">
    <!-- endbower -->
    <!-- endbuild -->
    
  body
    .wrapper
      header.site-header
        .container
      
    footer.site-footer
      .container
        .site-footer__copyright
          span.copyright__span Footer text

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        
    <!-- build:js js/vendor.min.js -->            
    <!-- bower:js -->
    <script src="bower/"></script>  
    <!-- endbower -->
    <!-- endbuild -->
    
    <!-- build:js js/main.min.js -->
    <script src="js/main.js"></script>
    <!-- endbuild -->
